fastapi
uvicorn[standard]
ollama
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
sentence-transformers
python-dotenv
openai
anthropic
google-genai
ebooklib
beautifulsoup4
